<surf-alert
  [alert]="cancelAlert"
  [level]="alertLevel">
  {{alertContent}}
</surf-alert>

<!--The content below is only a placeholder and can be replaced.-->
<div class="super_container">

  <!-- Header -->

  <header class="header">
    <div class="header_content d-flex flex-column align-items-center justify-content-lg-end justify-content-center">

      <!-- Logo -->
      <!--      ToDo-image-->
      <!--      <div class="logo"><a href="#"><img class="logo_1" src="assets/images/logo.png" alt=""><img class="logo_2" src="assets/images/logo_2.png" alt=""><img class="logo_3" src="assets/images/logo_3.png" alt=""></a></div>-->

      <!-- Main Nav -->
      <nav class="main_nav">
        <ul class="d-flex flex-row align-items-center justify-content-start">
          <li class="active"><a href="index.html">Home</a></li>
          <li><a href="about.html">About us</a></li>
          <li><a href="rooms.html">Rooms</a></li>
          <li><a href="blog.html">News</a></li>
          <li><a href="contact.html">Contact</a></li>
        </ul>
      </nav>

      <!-- Social -->
      <div class="social header_social">
        <ul class="d-flex flex-row align-items-center justify-content-start">
          <li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
          <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
          <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
          <li><a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
          <li><a href="#"><i class="fa fa-behance" aria-hidden="true"></i></a></li>
        </ul>
      </div>

      <!-- Header Right -->
      <div class="header_right d-flex flex-row align-items-center justify-content-start">

        <!-- Search Activation Button -->
        <div class="search_button">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" viewBox="0 0 512 512" enable-background="new 0 0 512 512" width="512px" height="512px">
            <g>
              <path d="M495,466.2L377.2,348.4c29.2-35.6,46.8-81.2,46.8-130.9C424,103.5,331.5,11,217.5,11C103.4,11,11,103.5,11,217.5   S103.4,424,217.5,424c49.7,0,95.2-17.5,130.8-46.7L466.1,495c8,8,20.9,8,28.9,0C503,487.1,503,474.1,495,466.2z M217.5,382.9   C126.2,382.9,52,308.7,52,217.5S126.2,52,217.5,52C308.7,52,383,126.3,383,217.5S308.7,382.9,217.5,382.9z" fill="#FFFFFF"></path>
            </g>
          </svg>
        </div>

        <!-- Header Link -->
        <!--        <div class="header_link"><a href="#">Book Your Room Now</a></div>-->

        <!-- Hamburger Button -->
        <div class="hamburger"><i class="fa fa-bars" aria-hidden="true"></i></div>

      </div>

      <!-- Search Panel -->
      <div class="search_panel">
        <div class="search_panel_content d-flex flex-row align-items-center justify-content-start">
          <img src="assets/images/search.png" alt="">
          <form action="#" class="search_form">
            <input type="text" class="search_input" placeholder="Type your search here" required="required">
          </form>
          <div class="search_close ml-auto d-flex flex-column align-items-center justify-content-center"><div></div></div>
        </div>
      </div>
    </div>

  </header>

  <!-- Menu Overlay -->

  <div class="menu_overlay">
    <div class="menu_overlay_content d-flex flex-row align-items-center justify-content-center">

      <!-- Hamburger Button -->
      <div class="hamburger"><i class="fa fa-bars" aria-hidden="true"></i></div>

    </div>
  </div>

  <!-- Menu -->

  <div class="menu">
    <div class="menu_container d-flex flex-column align-items-center justify-content-center">

      <!-- Menu Navigation -->
      <nav class="menu_nav text-center">
        <ul>
          <li><a href="index.html">Home</a></li>
          <li><a href="about.html">About us</a></li>
          <li><a href="rooms.html">Rooms</a></li>
          <li><a href="blog.html">News</a></li>
          <li><a href="contact.html">Contact</a></li>
        </ul>
      </nav>
      <div class="button menu_button"><a href="#">book now</a></div>

      <!-- Menu Social -->
      <div class="social menu_social">
        <ul class="d-flex flex-row align-items-center justify-content-start">
          <li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
          <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
          <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
          <li><a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
          <li><a href="#"><i class="fa fa-behance" aria-hidden="true"></i></a></li>
        </ul>
      </div>

    </div>
  </div>

  <!-- Home -->

  <div class="home">
    <div class="parallax_background parallax-window" data-parallax="scroll" data-image-src="assets/images/home.jpg" data-speed="0.8"></div>
    <div class="home_container d-flex flex-column align-items-center justify-content-center">
      <div class="home_title"><h1>Sun Travel</h1></div>
      <div class="home_title"><h1>Book Your Stay</h1></div>
      <div class="home_text text-center">Easily Book Your Reservation Online. Save up to 50% on Hotels. Bundle & Save up to $603.</div>
      <!--      <div class="button home_button"><a href="#">book now</a></div>-->
    </div>
  </div>

  <!-- Booking -->
  <!--  ToDo-booking-->
  <div class="booking">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="booking_container d-flex flex-row align-items-end justify-content-start">
            <form (ngSubmit)="sendData($event)" class="booking_form">
              <div class="booking_form_container booking-bar d-flex flex-lg-row flex-column align-items-start justify-content-start flex-wrap">
                <div class="booking_form_inputs d-flex flex-row align-items-start justify-content-between flex-wrap">
                  <div class="booking_dropdown"><input type="text" name="checkIn" [formControl]= "checkIn" class="datepicker booking_input booking_input_a booking_in" placeholder="Check in" required="required"></div>
                  <div class="booking_dropdown"><input type="text" name="checkOut" [formControl]= "checkOut" class="datepicker booking_input booking_input_a booking_out" placeholder="Check out" required="required"></div>
                  <div class="custom-select">
                    <input type="text" class="contact_input" placeholder="Adults" [formControl]= "adults" required="required">
                  </div>
                  <div class="custom-select">
                    <input type="text" class="contact_input" placeholder="Rooms" [formControl]= "rooms" required="required">
                  </div>
                  <div class="custom-select">
                    <input type="text" class="contact_input" placeholder="Colombo" [formControl]= "destination" required="required">
                  </div>
                </div>
                <input type="submit" value="Search" class="booking_form_button ml-lg-auto">
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="showPage == 1 ">
    <app-hotel-data></app-hotel-data>
  </div>
  <div *ngIf="showPage == 2">
    <app-booking-page [hotels]="hotelsData"></app-booking-page>
  </div>

  <!-- Footer -->

  <footer class="footer">
    <div class="parallax_background parallax-window" data-parallax="scroll" data-image-src="assets/images/footer.jpg" data-speed="0.8"></div>
    <div class="container">
      <div class="row">
        <div class="col">
          <!--          ToDo-image-->
          <!--          <div class="footer_logo text-center">-->
          <!--            <a href="#"><img src="assets/images/logo.png" alt=""></a>-->
          <!--          </div>-->
          <div class="footer_content">
            <div class="row">
              <div class="col-lg-4 footer_col">
                <div class="footer_info d-flex flex-column align-items-lg-end align-items-center justify-content-start">
                  <div class="text-center">
                    <div>Phone:</div>
                    <div>+546 990221 123</div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 footer_col">
                <div class="footer_info d-flex flex-column align-items-center justify-content-start">
                  <div class="text-center">
                    <div>Address:</div>
                    <div>Main Str, no 23, New York</div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 footer_col">
                <div class="footer_info d-flex flex-column align-items-lg-start align-items-center justify-content-start">
                  <div class="text-center">
                    <div>Mail:</div>
                    <div>hotel@contact.com</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="footer_bar text-center"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></div>
        </div>
      </div>
    </div>
  </footer>
</div>
