<!-- Hotel section -->
<div class="hotel-section">
  <div class="section-title">
    <h2>Hotel - Options available for you</h2>
    <span class="qa-invisible-text">The package price includes hotel accommodation.</span>
    <p>The package price includes hotel accommodation.</p>
<!--    <surf-sort-holiday-package-beryl></surf-sort-holiday-package-beryl>-->
  </div>
  <!--Hotel Segment 1-->
  <div class="multi-segment-panel" *ngFor="let hotel of hotels; let i = index">
    <div class="multi-segment-panel__title" >
      <span class="t5 u-t-text">{{hotel.name }}</span>
      <span class="t5 u-t-text">TP: {{hotel.tpnumber }}</span>
    </div>

      <div class="multi-segment-panel__body" id="{{hotel.hotelId}}">
        <div class="segment-panel">
          <div class="segment-panel__wrap">
            <div class="segment-details">

              <div class="segment-details__place" *ngFor="let rms of hotel.room; let i = index">
				<div class="segment-details__more">
					{{hotel.name }}
				</div>
                <h3 class="h-style-x">Room Type: {{rms.roomType}}</h3>
                <span class="p-style-x hide-mobile"></span>
                <h3 class="h-style-x">Room Price: {{rms.price}}$</h3>
                <span class="p-style-x hide-mobile"></span>
                <h3 class="h-style-x">Adult Count: {{rms.adultCount}}</h3>
                <span class="p-style-x hide-mobile"></span>
              
			  </div>
				
              <div class="segment-details__more">
<!--                TODo-->
<!--                <a class="a-link-btn" (click)="getAlternatives(hotel,i)">{{translation['MC_MORE_HOTELS_AVAILABLE.text']}}</a>-->
              </div>
            </div>

            <div class="filter-panel filter-panel--ms" [ngClass]="{'has-active-filter': hotel.showFilters, 'has-active-sort': hotel.showSorting}">
              <ng-template [ngIf]="hotel.expanded">

                <div class="filter-panel__sort">
                  <!--                TODo-->
<!--                  <surf-sort-holiday-package-beryl [service]="'cart'" (onSort)="setSortOption($event,hotel, i)"></surf-sort-holiday-package-beryl>-->
                </div>

                <div class="filter-panel__filter">
                  <div class="cr-title">
                    <!--                TODo-->
<!--                    <button (click)="hotels[selectedHotelIndex]['showFilters'] = false; showWhich = ''" class="btn-back"><i class="icon-Left-pointer"></i></button>-->
                    <h3 class="t3">ss</h3>
                  </div>
                  <surf-filter-amber
                    [service]="'cart'"
                    [currentSelectedPrice]="hotel.totalPrice"
                    [priceViewOption]="selectedPriceViewOption"

                    [resultIndex]="hotel.resultIndex"
                    [passengerCount]="hotel.adult + hotel.teen + hotel.child + hotel.infant">
                  </surf-filter-amber>
                </div>
              </ng-template>
            </div>

            <div class="segment-details__less">
              <!--                TODo-->
<!--              <a class="a-link-btn" (click)="collapseHotel(hotel,i)">{{translation['HOTEL_CARD_COLLAPSE_MORE_OPTIONS.text']}}</a>-->
            </div>

          </div>

        </div>

        <div class="hotels-panel">
          <section class="hotel-list">
<!--            <surf-hotel-card-beryl [priceViewOption]="selectedPriceViewOption" [hotelItem]="hotel"  [service]="'cart'" [expand]="hotel.showDetails" [itemIndex]="hotel.itemIndex" (onExpand)="onHotelDetailsExpand(hotel, i)"></surf-hotel-card-beryl>-->

            <div class="content-loading" [hidden]="!hotel.loading">
<!--              <img [src]="loadingImage" class="recommend-img" alt="Recommend" title="We are highly recommend this hotel">-->
            </div>

            <ng-template [ngIf]="!hotel.loading && hotel.expanded">
              <ng-template ngFor let-liteHoliday *ngIf="hotel.showAltenatives && hotel.holidayPackages"
                           [ngForOf]="hotel.holidayPackages"
                           let-i="index">
<!--                <surf-hotel-card-beryl [priceViewOption]="selectedPriceViewOption" [hotelItem]="liteHoliday"  [service]="'cart'" [hotelItemSelected]="false" [itemIndex]="hotel.itemIndex"></surf-hotel-card-beryl>  &lt;!&ndash;[priceViewOption]="priceViewOption"&ndash;&gt;-->
              </ng-template>

<!--              <surf-pagination-controls *ngIf="hotel.showAltenatives && hotel.holidayPackages"-->
<!--                                        [id]="hotel.itemNo +'-'+hotel.code"-->

<!--                                        [hasMore]="hotel.hasMore == undefined ? true : hotel.hasMore"-->
<!--                                        [isMoreEnable]="false"-->
<!--                                       >-->
<!--              </surf-pagination-controls>-->
            </ng-template>

            <div *ngIf="hotel.expanded" class="segment-details__less u-visible-lg">
              <a class="a-link-btn" (click)="hotel.expanded = false">ss</a>
            </div>

          </section>

          <div *ngIf="!hotel.expanded"class="segment-details__more">
            <a class="a-link-btn" (click)="getAlternatives(hotel,i)">ss</a>
          </div>

        </div>
      </div>

<!--    </ng-template>-->

  </div>

</div>
