<!-- Intro -->

<div class="intro">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="section_title text-center">
          <div>Welcome</div>
          <h1>Sun Travel Hotel Reservation System</h1>
        </div>
      </div>
    </div>
    <div class="row intro_row">
      <div class="col-xl-8 col-lg-10 offset-xl-2 offset-lg-1">
        <div class="intro_text text-center">
          <p>Maecenas sollicitudin tincidunt maximus. Morbi tempus malesuada erat sed pellentesque. Donec pharetra mattis nulla, id laoreet neque scelerisque at. Quisque eget sem non ligula consectetur ultrices in quis augue. Donec imperd iet leo eget tortor dictum, eget varius eros sagittis. Curabitur tempor dignissim massa ut faucibus sollicitudin tinci dunt maximus. Morbi tempus malesuada erat sed pellentesque. Donec pharetra mattis nulla, id laoreet neque scele risque at. Quisque eget sem non ligula consectetur ultrices in quis augue. Donec imperdiet leo eget tortor dictum, eget varius eros sagittis. Curabitur tempor dignissim massa ut faucibus.</p>
        </div>
      </div>
    </div>
    <div class="row gallery_row">
      <div class="col">

        <!-- Gallery -->
        <div class="gallery_slider_container">
          <div class="owl-carousel owl-theme gallery_slider">

            <!-- Slide -->
            <div class="gallery_slide">
              <img src="assets/images/gallery_1.jpg" alt="">
              <div class="gallery_overlay">
                <div class="text-center d-flex flex-column align-items-center justify-content-center">
                  <a href="#">
                    <span>+</span>
                    <span>See More</span>
                  </a>
                </div>
              </div>
            </div>

            <!-- Slide -->
            <div class="gallery_slide">
              <img src="assets/images/gallery_2.jpg" alt="">
              <div class="gallery_overlay">
                <div class="text-center d-flex flex-column align-items-center justify-content-center">
                  <a href="#">
                    <span>+</span>
                    <span>See More</span>
                  </a>
                </div>
              </div>
            </div>

            <!-- Slide -->
            <div class="gallery_slide">
              <img src="assets/images/gallery_3.jpg" alt="">
              <div class="gallery_overlay">
                <div class="text-center d-flex flex-column align-items-center justify-content-center">
                  <a href="#">
                    <span>+</span>
                    <span>See More</span>
                  </a>
                </div>
              </div>
            </div>

            <!-- Slide -->
            <div class="gallery_slide">
              <img src="assets/images/gallery_4.jpg" alt="">
              <div class="gallery_overlay">
                <div class="text-center d-flex flex-column align-items-center justify-content-center">
                  <a href="#">
                    <span>+</span>
                    <span>See More</span>
                  </a>
                </div>
              </div>
            </div>

          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<!-- Rooms -->

<div class="rooms_right container_wrapper">
  <div class="container">
    <div class="row row-eq-height">

      <!-- Rooms Image -->
      <div class="col-xl-6 order-xl-1 order-2">
        <div class="rooms_slider_container">
          <div class="owl-carousel owl-theme rooms_slider">

            <!-- Slide -->
            <div class="slide">
              <div class="background_image" style="background-image:url(assets/images/rooms_1.jpg)"></div>
            </div>

            <!-- Slide -->
            <div class="slide">
              <div class="background_image" style="background-image:url(assets/images/rooms_1.jpg)"></div>
            </div>

            <!-- Slide -->
            <div class="slide">
              <div class="background_image" style="background-image:url(assets/images/rooms_1.jpg)"></div>
            </div>

          </div>
        </div>
      </div>

      <!-- Rooms Content -->
      <div class="col-xl-6 order-xl-2 order-1">
        <div class="rooms_right_content">
          <div class="section_title">
            <div>Rooms</div>
            <h1>Luxury Standard Suite</h1>
          </div>
          <div class="rooms_text">
            <p>Maecenas sollicitudin tincidunt maximus. Morbi tempus malesuada erat sed pellentesque. Donec pharetra mattis nulla, id laoreet neque scelerisque at. Quisque eget sem non ligula consectetur ultrices in quis augue. Donec imperd iet leo eget tortor dictum, eget varius eros sagittis. Curabitur tempor dignissim massa ut faucibus sollicitudin tinci dunt maximus. Morbi tempus malesuada erat sed pellentesque.</p>
          </div>
          <div class="rooms_list">
            <ul>
              <li class="d-flex flex-row align-items-center justify-content-start">
                <img src="assets/images/check.png" alt="">
                <span>Morbi tempus malesuada erat sed</span>
              </li>
              <li class="d-flex flex-row align-items-center justify-content-start">
                <img src="assets/images/check.png" alt="">
                <span>Tempus malesuada erat sed</span>
              </li>
              <li class="d-flex flex-row align-items-center justify-content-start">
                <img src="assets/images/check.png" alt="">
                <span>Pellentesque vel neque finibus elit</span>
              </li>
            </ul>
          </div>
          <div class="rooms_price">$132/<span>Night</span></div>
          <div class="button rooms_button"><a href="#">book now</a></div>
        </div>
      </div>

    </div>
  </div>
</div>

<!-- Rooms -->

<div class="rooms_left container_wrapper">
  <div class="container">
    <div class="row row-eq-height">

      <!-- Rooms Content -->
      <div class="col-xl-6">
        <div class="rooms_left_content">
          <div class="section_title">
            <div>Rooms</div>
            <h1>Luxury Sea View Room</h1>
          </div>
          <div class="rooms_text">
            <p>Maecenas sollicitudin tincidunt maximus. Morbi tempus malesuada erat sed pellentesque. Donec pharetra mattis nulla, id laoreet neque scelerisque at. Quisque eget sem non ligula consectetur ultrices in quis augue. Donec imperd iet leo eget tortor dictum, eget varius eros sagittis. Curabitur tempor dignissim massa ut faucibus sollicitudin tinci dunt maximus. Morbi tempus malesuada erat sed pellentesque.</p>
          </div>
          <div class="rooms_list">
            <ul>
              <li class="d-flex flex-row align-items-center justify-content-start">
                <img src="assets/images/check.png" alt="">
                <span>Morbi tempus malesuada erat sed</span>
              </li>
              <li class="d-flex flex-row align-items-center justify-content-start">
                <img src="assets/images/check.png" alt="">
                <span>Tempus malesuada erat sed</span>
              </li>
              <li class="d-flex flex-row align-items-center justify-content-start">
                <img src="assets/images/check.png" alt="">
                <span>Pellentesque vel neque finibus elit</span>
              </li>
            </ul>
          </div>
          <div class="rooms_price">$100/<span>Night</span></div>
          <div class="button rooms_button"><a href="#">book now</a></div>
        </div>
      </div>

      <!-- Rooms Image -->
      <div class="col-xl-6">
        <div class="rooms_slider_container">
          <div class="owl-carousel owl-theme rooms_slider">

            <!-- Slide -->
            <div class="slide">
              <div class="background_image" style="background-image:url(assets/images/rooms_2.jpg)"></div>
            </div>

            <!-- Slide -->
            <div class="slide">
              <div class="background_image" style="background-image:url(assets/images/rooms_2.jpg)"></div>
            </div>

            <!-- Slide -->
            <div class="slide">
              <div class="background_image" style="background-image:url(assets/images/rooms_2.jpg)"></div>
            </div>

          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<!-- Discover -->

<div class="discover">

  <!-- Discover Content -->
  <div class="discover_content">
    <div class="container">
      <div class="row">
        <div class="col-lg-5">
          <div class="section_title">
            <div>Hotel</div>
            <h1>Discover Hilton Hotel Colombo </h1>
          </div>
        </div>
      </div>
      <div class="row discover_row">
        <div class="col-lg-5">
          <div class="discover_highlight">
            <p>Morbi tempus malesuada erat sed pellentesque. Donec pharetra mattis nulla, id laoreet neque scelerisque at. Quisque eget sem non ligula consectetur.</p>
          </div>
          <div class="button discover_button"><a href="https://www3.hilton.com/en_US/hi/search/findhotels/results.htm?view=LIST">discover</a></div>
        </div>
        <div class="col-lg-7">
          <div class="discover_text">
            <p>Morbi tempus malesuada erat sed pellentesque. Donec pharetra mattis nulla, id laoreet neque scelerisque at. Quisque eget sem non ligula consectetur ultrices in quis augue. Donec imperd iet leo eget tortor dictum, eget varius eros sagittis. Curabitur tempor dignissim massa ut faucibus sollicitudin tinci dunt maximus. Morbi tempus malesuada erat sed pellentesque. Donec pharetra mattis. Donec pharetra mattis nulla, id laoreet neque scelerisque at. Morbi tempus malesuada erat sed pellentesque. Donec pharetra mattis nulla, id laoreet neque scelerisque at. Quisque eget sem non ligula consectetur ultrices in quis augue.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Discover Slider -->
  <div class="discover_slider_container">
    <div class="owl-carousel owl-theme discover_slider">

      <!-- Slide -->
      <div class="slide">
        <div class="background_image" style="background-image:url(assets/images/discover_1.jpg)"></div>
        <div class="discover_overlay d-flex flex-column align-items-center justify-content-center">
          <h1><a href="#">Weddings</a></h1>
        </div>
      </div>

      <!-- Slide -->
      <div class="slide">
        <div class="background_image" style="background-image:url(assets/images/discover_2.jpg)"></div>
        <div class="discover_overlay d-flex flex-column align-items-center justify-content-center">
          <h1><a href="#">Parties</a></h1>
        </div>
      </div>

      <!-- Slide -->
      <div class="slide">
        <div class="background_image" style="background-image:url(assets/images/discover_3.jpg)"></div>
        <div class="discover_overlay d-flex flex-column align-items-center justify-content-center">
          <h1><a href="#">Relax</a></h1>
        </div>
      </div>

    </div>
  </div>

</div>

<!-- Testimonials -->

<div class="testimonials">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="section_title text-center">
          <div>Clients</div>
          <h1>Testimonials</h1>
        </div>
      </div>
    </div>
    <div class="row testimonials_row">
      <div class="col">

        <!-- Testimonials Slider -->
        <div class="testimonials_slider_container">
          <div class="owl-carousel owl-theme testimonials_slider">

            <!-- Slide -->
            <div>
              <div class="testimonial_text text-center">
                <p>Maecenas sollicitudin tincidunt maximus. Morbi tempus malesuada erat sed pellentesque. Donec pharetra mattis nulla, id laoreet neque scelerisque at. Quisque eget sem non ligula consectetur ultrices in quis augue. Donec imperd iet leo eget tortor dictum, eget varius eros sagittis. Curabitur tempor dignissim massa ut faucibus sollicitudin tinci dunt maximus. Morbi tempus malesuada erat sed pellentesque. Donec pharetra mattis nulla, id laoreet neque scele risque at. Quisque eget.</p>
              </div>
              <div class="testimonial_author text-center">
                <div class="testimonial_author_image"><img src="assets/images/my.jpg" alt=""></div>
                <div class="testimonial_author_name"><a href="#">Methsiri Henegedara,</a><span> Client</span></div>
              </div>
            </div>

            <!-- Slide -->
            <div>
              <div class="testimonial_text text-center">
                <p>Maecenas sollicitudin tincidunt maximus. Morbi tempus malesuada erat sed pellentesque. Donec pharetra mattis nulla, id laoreet neque scelerisque at. Quisque eget sem non ligula consectetur ultrices in quis augue. Donec imperd iet leo eget tortor dictum, eget varius eros sagittis. Curabitur tempor dignissim massa ut faucibus sollicitudin tinci dunt maximus. Morbi tempus malesuada erat sed pellentesque. Donec pharetra mattis nulla, id laoreet neque scele risque at. Quisque eget.</p>
              </div>
              <div class="testimonial_author text-center">
                <div class="testimonial_author_image"><img src="assets/images/author_1.jpg" alt=""></div>
                <div class="testimonial_author_name"><a href="#">Maria Smith,</a><span> Client</span></div>
              </div>
            </div>

            <!-- Slide -->
            <div>
              <div class="testimonial_text text-center">
                <p>Maecenas sollicitudin tincidunt maximus. Morbi tempus malesuada erat sed pellentesque. Donec pharetra mattis nulla, id laoreet neque scelerisque at. Quisque eget sem non ligula consectetur ultrices in quis augue. Donec imperd iet leo eget tortor dictum, eget varius eros sagittis. Curabitur tempor dignissim massa ut faucibus sollicitudin tinci dunt maximus. Morbi tempus malesuada erat sed pellentesque. Donec pharetra mattis nulla, id laoreet neque scele risque at. Quisque eget.</p>
              </div>
              <div class="testimonial_author text-center">
                <div class="testimonial_author_image"><img src="assets/images/my.jpg" alt=""></div>
                <div class="testimonial_author_name"><a href="#">Methsiri Henegedara,</a><span> Client</span></div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
